html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Some description')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='css/bootstrap4.min.css', data-inline)
        
        block title
            title Piknik

    body
        block content
        
        #footer.bg-dark.py-3
            .container.text-light
                p Si usted no realizó ninguna solicitud, favor de hacer caso omiso de este mensaje.

                p Copyright 2020 by 
                    a(href='https://kimosolutions.com/') Kimo Solutions.
