extends base.pug

block title
    title Recuperar contrase침a
block content
    .container.my-5
        h1 Hola #{user.name}
        if user.pin
            p Pin: #{user.pin}
        p.important Est치s recibiendo este correo porque se ha solicitado un cambio de contrase침a para su cuenta.
        a(href=`${ resetLink }` class="btn btn-primary") Cambiar contrase침a