extends base.pug

block title
	title Activaci칩n de cuenta
block content
	.container.my-5
		h1 Bienvenido a Piknik
		p.important Su cuenta ha sido activada de forma exitosa.
		p Para ingresar al app de forma m치s r치pida, <strong>le asignamos el pin: #{ userPin }.</strong> Puedes ingresar con este pin en vez de su correo y la contrase침a que creaste.
		br